SESSION_SECRET="foobar"

PUBLIC_STORE_DOMAIN=sitiodamata.myshopify.com
PUBLIC_STOREFRONT_API_TOKEN=59cbe4a197849ee18bac26b3b40a409f
PUBLIC_CUSTOMER_ACCOUNT_API_CLIENT_ID=shp_07872066-c526-4508-8b34-3f413863e0
PUBLIC_CUSTOMER_ACCOUNT_API_URL=https://sitiodamata.myshopify.com
PUBLIC_CHECKOUT_DOMAIN=sitiodamata.myshopify.com

PUBLIC_STOREFRONT_ID=43707
WEAVERSE_PROJECT_ID=clptu3l4p001sxfsn1u9jzqnm


WEAVERSE_PROJECT_ID=pp6l61c1cnlj4kkevvirl7ci

